pandas 
numpy 
matplotlib 
seaborn 
plotly 
scikit-learn 
prophet 
apache-airflow 
powerbiclient 
boto3 
azure-identity 
azure-storage-blob 
snowflake-connector-python 
snowflake-sqlalchemy 
sqlalchemy 
kafka-python 
docker 
dbt-core 
dbt-snowflake 
streamlit 
langchain 
langchain-community 
langchain-openai 
openai 
python-dotenv 
requests 
pyyaml 
tqdm
